<div class="container">
    <div routerLink="/list-planet">
        <i class="fa fa-angle-left" style="font-size:24px"></i>
        GO BACK
    </div>
<div class="shadow p-3 mb-5 bg-white rounded row">
    <div class="col-md-2">
        <img style="padding-left: 5px;" src="assets/img/Planet.PNG" class="card-img w-50">
    </div>
    <div class="col-md-9">
            <p>Rotation period : {{planetInformation?.rotation_period}} </p> 
            <p>Orbital_period :  {{planetInformation?.orbital_period}}</p> 
            <p>Diameter :  {{planetInformation?.diameter}}</p>
            <p>Climate :  {{planetInformation?.climate}}</p> 
            <p>Gravity :  {{planetInformation?.gravity}}</p>
            <p>Terrain : {{planetInformation?.terrain}}</p>
            <p>surface water :  {{planetInformation?.surface_water}}</p>
            <p>population :  {{planetInformation?.population}}</p> 
    </div>
</div>
</div>