<div class="container">
    <div class="card mb-3" *ngFor="let planet of planets" >
        <div class="row no-gutters">
            <div class="col-md-4">
                <img style="padding-left: 5px;" src="assets/img/Planet.PNG" class="card-img w-50">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                <h5>{{planet.name}}</h5>
                <p class="card-text">Population : {{planet.population}} </p>
                <p class="card-text">Diameter : {{planet.diameter}} </p>
                </div>
            </div>
            <div class="col-md-1 " (click)="goToDetail(planet.url)">
                <i class="fa fa-angle-right" style="font-size:75px ;margin-top: 28px;"></i>
            </div>
        </div>
    </div>
</div>