<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <h2 class="navbar-brand">STAR WARS</h2>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <div class="navbar-nav ml-auto">
            <h4 class="text-danger">START DEV TEST</h4>
        </div>
    </div>
</nav>